In [12]:
import pandas as pd

# dictionary to series

dict_data={'a':1,'b':2,'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print(sr.index) #only index
print(sr.values) # only value
print(sr) # all

<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]
a    1
b    2
c    3
dtype: int64

In [13]:
#list to series

list_data =['2019-01-02',3.14,'ABC',100,True]
sr= pd.Series(list_data)
print(sr)
idx = sr.index # only index
val = sr.values # only value

print(idx)
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

In [14]:
#tuple to serires

tup_data= ('영인','2010-05-01','여',True)
sr = pd.Series(tup_data,index=['이름','생년월일','성별','학생여부']) # index option 지정 가능
print(sr)
print(sr[0]) # value 값만 출력
print(sr[[0]]) # 대괄호 하나 더 넣으면 index, value 모두 출력
print(sr[0:2]) # 2 포함되지 않음
print(sr['생년월일':'성별']) #성별까지 포함됨

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
이름    영인
dtype: object
이름              영인
생년월일    2010-05-01
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

In [15]:
#dictionary to dataframe
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [21]:
#행 index 열 index 사용자가 지정 가능
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index=['준서','예은'],columns=['나이','성별','학교'])
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중