In [4]:
import pandas as pd

# dictionary to series

dict_data={'a':1,'b':2,'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print(sr.index) #only index
print(sr.values) # only value
print(sr) # all

<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]
a    1
b    2
c    3
dtype: int64

In [5]:
#list to series

list_data =['2019-01-02',3.14,'ABC',100,True]
sr= pd.Series(list_data)
print(sr)
idx = sr.index # only index
val = sr.values # only value

print(idx)
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

In [60]:
#tuple to serires

tup_data= ('영인','2010-05-01','여',True)
sr = pd.Series(tup_data,index=['이름','생년월일','성별','학생여부']) # index option 지정 가능
print(sr)
print("\n")
print(sr[0]) # value 값만 출력
print("\n")
print(sr[[0]]) # 대괄호 하나 더 넣으면 index, value 모두 출력
print("\n")
print(sr[0:2]) # 2 포함되지 않음

print("\n")
print(sr['생년월일':'성별']) #성별까지 포함됨

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object


영인


이름    영인
dtype: object


이름              영인
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [7]:
#dictionary to dataframe
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [33]:
#행 index 열 index 사용자가 지정 가능
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index=['준서','예은'],columns=['나이','성별','학교'])
print(df)
print("\n")
df.index =['학생1','학생2'] #행 인덱스 이름 변경 
df.columns=['연령','남녀','소속']# 컬럼 이름 변경
print(df)
print("\n")
df.rename(columns={'연령':'나이'},inplace=True)#일부를 선택하여 변경, 원본 데이터 수정이 아니기 때문에 원본 수정 시 inplace True로 설정
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


     나이 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [17]:
#행 열 삭제
df.drop('학생1',inplace=True)# 0 또는 default로 행 삭제
print(df)
print("\n")
df.drop('남녀',axis=1,inplace=True)# axis=1 이면 열 삭제 
print(df)
print("\n")

     나이 남녀   소속
학생2  17  여  수리중


     나이   소속
학생2  17  수리중

In [26]:
# dataframe의 행 데이터 선택 
label2 = df.loc['학생1':'학생2']
print(label3)
print("\n")
label1 = df.iloc[0:1]
print(label1)

     나이 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


     나이 남녀   소속
학생1  15  남  덕영중

In [35]:
print(df.loc['학생1'])
print(df)

나이     15
남녀      남
소속    덕영중
Name: 학생1, dtype: object
     나이 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [40]:
#dataframe의 열 데이터 선택
stu1= df['나이']
print(stu1)
stu2=df.남녀
print("\n")
print(stu2)

print("\n")

stu3 = df[['나이']]
print(stu3)

학생1    15
학생2    17
Name: 나이, dtype: int64


학생1    남
학생2    여
Name: 남녀, dtype: object


     나이
학생1  15
학생2  17

In [44]:
#간격 실행 
print(df.iloc[::1])
print("\n")
print(df.iloc[::2])# 시작:끝+1:간격 , -1 이면 역순

     나이 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


     나이 남녀   소속
학생1  15  남  덕영중

In [51]:
#특정 원소 선택
print(df.loc['학생1','나이'])
print(df.loc['학생1',['나이','소속']])
print(df.loc[['학생1','학생2'],['나이','소속']])

15
나이     15
소속    덕영중
Name: 학생1, dtype: object
     나이   소속
학생1  15  덕영중
학생2  17  수리중

In [54]:
#열추가
df['생일']='2012-03-12'
print(df)
#행추가
df.loc['학생3']=[15,'남','강화중','1993-03-12']
print(df)

     나이 남녀   소속          생일
학생1  15  남  덕영중  2012-03-12
학생2  17  여  수리중  2012-03-12
학생3  15  남  강화중  2012-03-12
     나이 남녀   소속          생일
학생1  15  남  덕영중  2012-03-12
학생2  17  여  수리중  2012-03-12
학생3  15  남  강화중  1993-03-12

In [57]:
print(df.transpose()) # 원본데이터는 그대로, 행 열 바꾸기

           학생1         학생2         학생3
나이          15          17          15
남녀           남           여           남
소속         덕영중         수리중         강화중
생일  2012-03-12  2012-03-12  1993-03-12

In [68]:
#행 index 재배열
print(dict_data)
print("\n")
df =pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
print("\n")
new_index=['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)# index재지정
print(ndf)
print("\n")
ndf2 =df.reindex(new_index,fill_value=0)# value  빈 부분 0으로 채우기
print(ndf2)
print("\n")

#행 인덱스 초기화

ndf3 = ndf2.reset_index()
print(ndf3)
print("\n")

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
3    r3   0   0   0   0   0
4    r4   0   0   0   0   0

In [69]:
#행 index sort 
ndf=df.sort_index(ascending=False) # 내림차순으로 sort index 기준 
print(ndf)
print("\n")

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [73]:
#열 index sort 
ndf = df.sort_values(by='c1',ascending =False)
print(ndf)
print("\n")

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [87]:
# Series 연산
student1 = pd.Series([100,80,90],index=['국어','영어','수학'])
print(student1)
print("\n")
percentage = student1/200
print(percentage)
print("\n")


# Series VS Series

student2 = pd.Series({'국어':90,'수학':80,'영어':80})
print(student2)
print("\n")
addition= student1+student2
print(addition)
print("\n")
sub = student1-student2
div=student1/student2

result =pd.DataFrame([addition,sub,div],index=['덧셈','뺄셈','나눗셈'])
print(result)
print("\n")
# NaN을 포함한 연산의 결과는 NaN

import numpy as np


student1['국어']=np.nan
print(student1)
print("\n")


sr_add =student1.add(student2,fill_value=0)#fill_value를 통해 NaN값을 0으로 바꿔줌
print(sr_add)
print("\n")

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


국어    90
수학    80
영어    80
dtype: int64


국어    190
수학    170
영어    160
dtype: int64


             국어       수학     영어
덧셈   190.000000  170.000  160.0
뺄셈    10.000000   10.000    0.0
나눗셈    1.111111    1.125    1.0


국어     NaN
영어    80.0
수학    90.0
dtype: float64


국어     90.0
수학    170.0
영어    160.0
dtype: float64

In [13]:
# DataFrame 연산 

import seaborn as sns 

titanic = sns.load_dataset('titanic')
print(titanic)
print("\n")
df =titanic.loc[:,['age','fare']]
print(df)
print("\n")
df2=titanic[['age','fare']]
print(df2.head()) # 첫 5행만 표시
print("\n")
print(type(df))
print(type(df2))
print("\n")



#addition
addition= df+10
print(addition.head())
print("\n")

print(addition.tail())#마지막 5행 표시

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]


      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]


    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

In [ ]:
#DataFrame VS DataFrame